# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#temp files
*#
*~
.#*

#gcc-avr compiles files
.dep/
*.lst
*.eep
*.elf
*.hex
*.lss
*.map
*.syn
*.sym
